#**Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the negative numbers red and positive numbers black.**

In [3]:
import pandas as pd
import numpy as np
np.random.seed(0)
data = np.random.randn(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
def highlight_cells(val):
    color = 'red' if val < 0 else 'black'
    return f'color: {color}'
styled_df = df.style.applymap(highlight_cells)
styled_df

#**Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.**

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import pandas as pd
import numpy as np
data = np.random.rand(10, 4)
data[2, 1] = np.nan
data[4, 3] = np.nan
data[7, 2] = np.nan
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
def highlight_nan(value):
    if pd.isna(value):
        return 'background-color: yellow'
    else:
        return ''
styled_df = df.style.applymap(highlight_nan)
styled_df

#**Create a dataframe of ten rows, four columns with random values. Write a Pandas program to set dataframe background Color black and font color yellow.**

In [14]:
import pandas as pd
import numpy as np
data = np.random.rand(10, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
def set_colors(val):
    return 'background-color: black; color: yellow'
styled_df = df.style.applymap(set_colors)
styled_df

#**Write a Pandas program to detect missing values of a given DataFrame. Display True or False.**

In [17]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Data-sets-qqpp/customer_id.csv')
missing_values=data.isna()
print(missing_values)

    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

#**Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.**

In [19]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Data-sets-qqpp/customer_id.csv')
missing_values=data.fillna(0)
print(missing_values)

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       0.0     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26           0         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          0.0
4       0.0     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       0.0    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          0.0
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      0.0      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          0.0

#**Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame**

In [32]:

import pandas as pd
df = pd.DataFrame({
    'ord_no': [None,None,70002.0,None,None,70005.0,None,70010.0,70003.0,70012.0,None,None],
    'purch_amt': [None, 270.65, 65.26, None, 948.50, 2400.60,5760, 1983.43, 2480.40, 250.45, 75.29, None],
    'ord_date': [None,'2012-09-10',None,None, '2012-09-10', '2012-07-27',  '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', None],
    'customer_id': [None,3001.0, 3001.0, None, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, None]
})
nan_values = df.isna().sum(axis=1)
df = df[nan_values >= 2]
print(df)

    ord_no  purch_amt ord_date  customer_id
0      NaN        NaN     None          NaN
3      NaN        NaN     None          NaN
11     NaN        NaN     None          NaN

#**Write a Pandas program to split the following dataframe into groups based on school code. Also check the type of GroupBy object.**

In [31]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/Data-sets-qqpp/school_data.csv')
grouped = data.groupby('school')
print(grouped)
print(type(grouped))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f53206db190>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>